body {
  text-align: center;
  background-image:url(../images/back_1.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size:cover;
  height:100vh;
}
/*padding*/
.pad-0{
  padding:0 !important;
}
.pad-5{
  padding:5px !important;
}
.pad-10{
  padding:10px !important;
}
.pad-15{
  padding:15px !important;
}
.pad-20{
  padding:20px !important;
}
.pad-40{
  padding:40px !important;
}
/*margin*/
.mar-0{
  margin:0 !important;
}
.mar-5{
  margin:5px !important;
}
.mar-10{
  margin:10px !important;
}
.mar-15{
  margin:15px !important;
}
.mar-20{
  margin:20px !important;
}
.mar-40{
  margin:40px !important;
}
/*margin vertical*/
.marv-5{
  margin:5px 0 !important;
}
.marv-10{
  margin:10px 0 !important;
}
.marv-15{
  margin:15px 0 !important;
}
.marv-20{
  margin:20px 0 !important;
}
.marv-40{
  margin:40px 0 !important;
}
/*Texto*/
.fweight-100{
  font-weight:100 !important;
}
.fweight-200{
  font-weight:200 !important;
}
.fweight-300{
  font-weight:300 !important;
}
.fweight-400{
  font-weight:400 !important;
}
.fweight-500{
  font-weight:500 !important;
}
.fweight-600{
  font-weight:600 !important;
}
.fweight-700{
  font-weight:700 !important;
}
.fweight-800{
  font-weight:800 !important;
}
.fweight-900{
  font-weight:900 !important;
}
.lheight-0{
  line-height:0 !important;
}
.lheight-05{
  line-height:0.5 !important;
}
.lheight-1{
  line-height:1 !important;
}
.tcenter{
  text-align:center !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App input{
  background-color: #ffffff !important;
  text-align: center;
  color:#777777 !important;
  border:2px solid #B71C1C !important;
  margin:0 !important;
}
.App input:focus{
  border:2px solid #EF5350 !important;
}


.Content{
  width:100% !important;
}
.input-field{
  margin-top:5px !important;
  margin-bottom:5px !important;
}
input{
  width:90% !important;
}
hr{
  border:0.5px solid #f0f0f0;
}
.btn-login{
  width:90%;
  height:auto;
  margin-top:5px;
  margin-bottom:3px;
  border-radius:3px;
  padding:4px;
  color:#ffffff;
  background-color:#272727;
}
.btn-link{
  color:#ffffff;
}
.btn-fb{
  width:90%;
  height:auto;
  margin-top:5px;
  margin-bottom:3px;
  border-radius:3px;
  padding:4px;
  color:#ffffff;
  background-color:#3A559F;
}

.btn-side::after{
  background:none !important;
}
.btn-side:focus{
  background:none !important;
}
.btn-side:active{
  background:none !important;
}
.btn-side i{
  font-weight:800 !important;
  font-size:40px !important;
}
.btn-login:focus{
  background-color:#red;
}
.App-link {
  color: #61dafb;
}
.Board{
  background-color:rgba(0,0,0,0.15);
  padding-bottom:15px;
}
.row-content{
  position: relative;
  overflow:scroll;
  top:57px;
  height:89vh;
}
/*Board*/
.row-board{
  margin:0 20px;
  padding:15px;
  color:#ffffff;
}
.row-board-2{
  margin:0 20px;
  padding:0;
  color:#ffffff;
}
.row-board h4{
  margin:0;
}
.row-board-2 i{
  font-size:30px !important;
  margin:15px 0 0 0;
}
.row-board-2 a{
  color:#ffffff;
}
.row-board-2 span{
  line-height: 0;
}
.border-dott{
  border:3px dotted rgba(250,250,250,0.18);
}
.border-nodott-top{
  border-top:none;
}
.border-nodott-left{
  border-left:none;
}
.border-nodott-right{
  border-right:none;
}
.text-resp{
  font-size:5vw;
}

.sidenav{
  max-width:75%;
}
.profile-head{
  width:100%;
  background-image:url(../images/back_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom:50px;
}
.profile-head img{
  max-width: 40%;
  height: auto;
  border: 4px solid white;
  position: relative;
  top: 50px;
}
.carousel{
  background-color:rgba(0,0,0,0.3);
  height:270px;
  top:0;
}
.carousel-item{
  top:20px;
}
.Countdown strong{
  font-weight:700 !important;
  font-size:30px !important;
}
.coupon-title{
  color:#ffffff;
  font-size:22px;
  line-height:0;
  position: relative;
  top:10px;
}
.Bottombar{
  display: block;
  position:fixed;
  margin:0;
  bottom:-7px;
  left:0;
}
.Bottombar li{
  width:14.2857%;
  display: inline-block;
  float:left;
}
.Countdown{
  margin: 15px auto;

}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  width:70px;
  margin: 0 2px;
  padding:8px;
  color:#ffffff;
  background-color:#111111;
  border:4px solid rgba(250,250,250,0.0,5);
  border-radius:10px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 24px;
  color:#ffffff;
}
.modal{
  position: fixed !important;
  bottom:0;
  z-index:999;
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
