.App {
  text-align: center;
background-image:url(../images/back_1.jpg);
  background-repeat:repeat-x !important;
  background-size: cover;
  background-position: center center;
  height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App input{
  background-color: #ffffff !important;
  text-align: center;
  color:#777777 !important;
  border-radius:3px !important;
  margin:0 !important;
}

.Content{
  width:100% !important;
}
.input-field{
  margin-top:5px !important;
  margin-bottom:5px !important;
}
input{
  width:90% !important;
}
hr{
  border:0.5px solid #f0f0f0;
}
.btn-login{
  width:90%;
  height:auto;
  margin-top:5px;
  margin-bottom:3px;
  border-radius:3px;
  padding:4px;
  color:#ffffff;
  background-color:#272727;
}
.btn-link{
  color:#ffffff;
}
.btn-fb{
  width:90%;
  height:auto;
  margin-top:5px;
  margin-bottom:3px;
  border-radius:3px;
  padding:4px;
  color:#ffffff;
  background-color:#3A559F;
}
.btn-side{
  position:fixed;
  left:10px;
  top:5px;
  background: none;
  border: none;
  color: #ffffff;
  z-index:111;
}
.btn-side::after{
  background:none !important;
}
.btn-side:focus{
  background:none !important;
}
.btn-side:active{
  background:none !important;
}
.btn-side i{
  font-weight:800 !important;
  font-size:40px !important;
}
.btn-login:focus{
  background-color:#red;
}
.App-link {
  color: #61dafb;
}
.row-content{
  position: relative;
  overflow:scroll;

}
/*Board*/
.row-board{
  margin:0 20px;
  padding:30px;
  color:#ffffff;
}
.row-board-2{
  margin:0 20px;
  padding:0;
  color:#ffffff;
}
.row-board h4{
  margin:0;
}
.row-board-2 i{
  font-size:30px !important;
  margin:15px 0 0 0;
}
.row-board-2 a{
  color:#ffffff;
}
.border-dott{
  border:4px dotted #ffffff;
}
.border-nodott-top{
  border-top:none;
}
.border-nodott-left{
  border-left:none;
}
.border-nodott-right{
  border-right:none;
}
.text-resp{
  font-size:5vw;

}

.sidenav{
  max-width:75%;
}
.profile-head{
  width:100%;
  background-image:url(../images/back_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom:50px;
}
.profile-head img{
  max-width: 40%;
  height: auto;
  border: 4px solid white;
  position: relative;
  top: 50px;
}
.carousel{
  height:240px;
  top:0;
}
.Countdown strong{
  font-weight:700 !important;
  font-size:30px !important;
}
.coupon-title{
  color:#ffffff;
  font-size:22px;
  line-height:0;
  position: relative;
  top:10px;
}
.Bottombar{
  display: block;
  position:fixed;
  margin:0;
  bottom:-7px;
  left:0;
}
.Bottombar li{
  width:14.2857%;
  display: inline-block;
  float:left;
}
.Countdown{
  margin: 15px auto;

}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  width:70px;
  margin: 0 2px;
  padding:8px;
  color:#ffffff;
  background-color:#111111;
  border:4px solid rgba(250,250,250,0.0,5);
  border-radius:10px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 24px;
  color:#ffffff;
}
.modal{
  position: fixed !important;
  bottom:0;
  z-index:999;
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
