.Header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 99;
  top:-5px ;
}
.Header nav{
    background-color:#000000;
    position: fixed;
    min-height:50px;
    top:0;
}
.Header img{
  position: relative;
  top:6px;
  left:13%;
}
.Menu{
  margin:0;
  padding:0;
  list-style: none;
}
.Menu li{
  display: inline-block;
  padding-right: 20px;
}
.Menu li a{
  color:#ffffff ;
  text-decoration: none;
  font-size:22px !important;
}
.Menu li a:hover{
  color:rgba(250,250,250,0.5);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
